.header__menu_type_mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__menu_type_mobile {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: fixed;
    padding: 16px;
    gap: 20px;
    top: 63px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(16, 16, 29, .6);
  }
}