.header__logo {
  display: block;
  width: 248px;
  height: 23px;
  cursor: pointer;
  background-image: url(../../../image/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .3s ease;
}

.header__logo:hover {
  opacity: .7;
}


@media screen and (max-width: 1023px) {
  .header__logo {
    width: 160px;
  }
}