.order {
  margin: 0 auto;
  width: 100%;
  padding: 120px 0 150px 0;
  box-sizing: border-box;
  background-image: url(../../image/order__background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

@media screen and (max-width: 767px) {
  .order {
    padding: 50px 0;
  }
}