.order__frame-text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 570px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .order__frame-text {
    gap: 20px;
  }
}