.footer__copy {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .footer__copy {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: center;
  }
}