.header__menu-button {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__menu-button {
    display: block;
    position: relative;
    top: 0;
    right: 0px;
    width: 30px;
    height: 4px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .header__menu-button:before {
    content: '';
    position: absolute;
    top: -8px;
    right: 0;
    background-color: #fff;
    width: 15px;
    height: 4px;
    border-radius: 3px;
  }
  
  .header__menu-button:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0px;
    background-color: #fff;
    width: 15px;
    height: 4px;
    border-radius: 3px;
  }
}