.footer__menu-wallet {
  display: flex;
  gap: 38px;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style-type: none;
}

.footer__menu-wallet:before {
  content: "";
  width: 1px;
  height: 18px;
  background-color: #C3C3C3;
}

.footer__menu-wallet:after {
  content: "";
  width: 1px;
  height: 18px;
  background-color: #C3C3C3;
}

@media screen and (max-width: 1279px) {
  .footer__menu-wallet {
    gap: 10px;
  }
}